<div class="container mt-4">
    <div class="row">
        <nav class="p-2 navbar navbar-light bg-light justify-content-between">
            <span class="navbar-brand">
                {{title}}
            </span>
            <span>{{name}}
            </span>
            <span>
                Input-Output
            </span>
        </nav>
    </div>
    <div class="row mt-2 justify-content-center">
        <div class="col-12">
        <app-user-input (inputValueEmitter)="onWordAdded($event)"></app-user-input>
        </div>
        <div class="col-5 m-3 border border-success border-3">
            <h6>Even letters:</h6>
        <app-even-words [evenWords]="evenWords"></app-even-words>
        </div>
        <div class="col-5 m-3 border border-success border-3">
            <h6>Odd letters:</h6>
            <app-odd-words [oddWords]="oddWords"></app-odd-words>
        </div>
    </div>
</div>